<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VIAcquireMS</key>
	<integer>2000</integer>
	<key>VIAlphaChanges</key>
	<integer>4</integer>
	<key>VIAlphaChangeArray</key>
	<array>
		<dict>
			<key>change</key>
			<integer>2</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>4</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>6</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>8</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>10</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>12</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>14</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>16</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>18</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>20</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>22</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>24</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidNearReps</key>
			<integer>0</integer>
			<key>invalidFarReps</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>VIBehaviorWindowVisible</key>
	<true/>
	<key>VIBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>VIBlockLimit</key>
	<integer>100</integer>
	<key>VIBreakPunishMS</key>
	<integer>0</integer>
	<key>VIContrastFactor</key>
	<real>0.5</real>
	<key>VICatchTrialPC</key>
	<integer>10</integer>
	<key>VIChangeAlphaScale</key>
	<integer>0</integer>
	<key>VICueMS</key>
	<integer>250</integer>
	<key>VIDoSounds</key>
	<true/>
	<key>VIDoVarRewards</key>
	<true/>
	<key>VIDoErrorCue</key>
	<true/>
	<key>VIEccentricityDeg</key>
	<real>3</real>
	<key>VIEyeToUse</key>
	<integer>0</integer>
	<key>VIEyeFilter</key>
	<real>1</real>
	<key>VIEyeXYDoGrid</key>
	<true/>
	<key>VIEyeXYDoTicks</key>
	<integer>1</integer>
	<key>VIEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>VIEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>VIEyeXYDrawCal</key>
	<true/>
	<key>VIEyeXYGridDeg</key>
	<real>5</real>
	<key>VIEyeXYHScroll</key>
	<integer>3500</integer>
	<key>VIEyeXYMag</key>
	<real>30</real>
	<key>VIEyeXYOneInN</key>
	<integer>1</integer>
	<key>VIEyeXYTickDeg</key>
	<real>1</real>
	<key>VIEyeXYVScroll</key>
	<integer>3500</integer>
	<key>VIEyeXYWindowVisible</key>
	<true/>
	<key>VIEyeXYFadeDots</key>
	<true/>
	<key>VIDistractorRewardFactor</key>
	<integer>0</integer>
	<key>VIExtraDifficultStimReps</key>
	<integer>0</integer>
	<key>VIFixGraceMS</key>
	<integer>0</integer>
	<key>VIFixWindowWidthDeg</key>
	<real>1</real>
	<key>VIFixate</key>
	<true/>
	<key>VIHistogramSetIndex</key>
	<integer>0</integer>
	<key>VIIntertrialMS</key>
	<integer>1500</integer>
	<key>VIInterstimJitterTauMS</key>
	<integer>50</integer>
	<key>VIInterstimMS</key>
	<integer>250</integer>
	<key>VIKdlPhiDeg</key>
	<real>180</real>
	<key>VIKdlThetaDeg</key>
	<real>90</real>
	<key>VIMaxTargetMS</key>
	<integer>5000</integer>
	<key>VIMeanDistractorMS</key>
	<integer>2500</integer>
	<key>VIMeanTargetMS</key>
	<integer>2500</integer>
	<key>VIMinContrastChange</key>
	<integer>0</integer>
	<key>VINumCorrectStaircaseUp</key>
	<integer>0</integer>
	<key>VINumInstructTrials</key>
	<integer>2</integer>
	<key>VINumExtraInstructTrials</key>
	<integer>0</integer>
	<key>VINumMistakesForExtraInstructions</key>
	<integer>0</integer>
	<key>VINumRepsAfterIncorrect</key>
	<integer>0</integer>
	<key>VIDirectionDeg</key>
	<real>0</real>
	<key>VIPrecueMS</key>
	<integer>250</integer>
	<key>VIPreStimMS</key>
	<integer>250</integer>
	<key>VIQuestJitterPC</key>
	<integer>15</integer>
	<key>VIQuestGuessContrastPC</key>
	<integer>50</integer>
	<key>VIQuestCriterion</key>
	<real>0.82</real>
	<key>VIAngleRF0Deg</key>
	<integer>0</integer>
	<key>VIAngleRF1Deg</key>
	<integer>45</integer>
	<key>VIAngleRFOutDeg</key>
	<integer>315</integer>
	<key>VIMaxAlphaChange</key>
	<integer>1</integer>
	<key>VIMinAlphaChange</key>
	<real>0.1</real>
	<key>VIReactMS</key>
	<integer>750</integer>
	<key>VIRelDistContrast</key>
	<integer>1</integer>
	<key>VIRelDistContrastChange</key>
	<integer>1</integer>
	<key>VIRespTimeMS</key>
	<integer>500</integer>
	<key>VIRespWindowWidthDeg</key>
	<real>2</real>
	<key>VIRewardMS</key>
	<integer>100</integer>
	<key>VIRadiusDeg</key>
	<real>1</real>
	<key>VILoc2AlphaFactor</key>
	<integer>0</integer>
	<key>VILoc3AlphaFactor</key>
	<integer>0</integer>
	<key>VISaccadeTimeMS</key>
	<integer>200</integer>
	<key>VISigmaDeg</key>
	<real>0.25</real>
	<key>VISpatialFreqCPD</key>
	<real>4</real>
	<key>VISpatialModulationType</key>
	<integer>1</integer>
	<key>VISpatialPhaseDeg</key>
	<real>90</real>
	<key>VISpikeWindowVisible</key>
	<true/>
	<key>VISpikeWindowZoom</key>
	<integer>100</integer>
	<key>VIStaircaseContrastPC0</key>
	<integer>30</integer>
	<key>VIStaircaseContrastPC1</key>
	<integer>30</integer>
	<key>VIStaircaseContrastPC2</key>
	<integer>30</integer>
	<key>VIStaircaseContrastPC3</key>
	<integer>30</integer>
	<key>VIStaircaseContrastPC4</key>
	<integer>30</integer>
	<key>VIStaircaseContrastPC5</key>
	<integer>30</integer>
	<key>VIStartContrastPC</key>
	<integer>30</integer>
	<key>VIStepDownPC</key>
	<integer>5</integer>
	<key>VIStimDurationMS</key>
	<integer>250</integer>
	<key>VIStimJitterPC</key>
	<integer>0</integer>
	<key>VIStimLeadMS</key>
	<integer>500</integer>
	<key>VIStimRepsPerBlock</key>
	<integer>16</integer>
	<key>VISummaryWindowBroke</key>
	<integer>0</integer>
	<key>VISummaryWindowComputer</key>
	<integer>0</integer>
	<key>VISummaryWindowCorrect</key>
	<integer>0</integer>
	<key>VISummaryWindowDate</key>
	<integer>0</integer>
	<key>VISummaryWindowDistracted</key>
	<string></string>
	<key>VISummaryWindowEarly</key>
	<string></string>
	<key>VISummaryWindowFailed</key>
	<integer>0</integer>
	<key>VISummaryWindowIgnored</key>
	<integer>0</integer>
	<key>VISummaryWindowTotal</key>
	<integer>0</integer>
	<key>VISummaryWindowVisible</key>
	<true/>
	<key>VISummaryWindowWrong</key>
	<integer>0</integer>
	<key>VISummaryWindowZoom</key>
	<integer>100</integer>
	<key>VITaskStatus</key>
	<integer>0</integer>
	<key>VITemporalModulationParam</key>
	<integer>1</integer>
	<key>VITemporalModulationType</key>
	<integer>2</integer>
	<key>VITemporalPhaseDeg</key>
	<real>0</real>
	<key>VITooFastMS</key>
	<integer>100</integer>
	<key>VITrialWindowVisible</key>
	<true/>
	<key>VITrialWindowZoom</key>
	<integer>100</integer>
	<key>VITrainingMode</key>
	<false/>
	<key>VIVarRewardMaxMS</key>
	<integer>100</integer>
	<key>VIVarRewardMinMS</key>
	<integer>100</integer>
	<key>VIVarRewardTCMS</key>
	<integer>100</integer>
</dict>
</plist>
