<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VCANAcquireMS</key>
	<integer>2000</integer>
	<key>VCANBehaviorWindowVisible</key>
	<true/>
	<key>VCANBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>VCANBlockLimit</key>
	<integer>100</integer>
	<key>VCANBreakPunishMS</key>
	<integer>0</integer>
	<key>VCANContrastFactor</key>
	<real>0.5</real>
	<key>VCANCatchTrialPC</key>
	<integer>10</integer>
	<key>VCANCueMS</key>
	<integer>250</integer>
	<key>VCANDoSounds</key>
	<true/>
	<key>VCANDoVarRewards</key>
	<true/>
	<key>VCANDoErrorCue</key>
	<true/>
	<key>VCANEccentricityDeg</key>
	<real>3</real>
	<key>VCANEyeToUse</key>
	<integer>0</integer>
	<key>VCANEyeFilter</key>
	<real>1</real>
	<key>VCANEyeXYDoGrid</key>
	<true/>
	<key>VCANEyeXYDoTicks</key>
	<integer>1</integer>
	<key>VCANEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>VCANEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>VCANEyeXYDrawCal</key>
	<true/>
	<key>VCANEyeXYGridDeg</key>
	<real>5</real>
	<key>VCANEyeXYHScroll</key>
	<integer>3500</integer>
	<key>VCANEyeXYMag</key>
	<real>30</real>
	<key>VCANEyeXYOneInN</key>
	<integer>1</integer>
	<key>VCANEyeXYTickDeg</key>
	<real>1</real>
	<key>VCANEyeXYVScroll</key>
	<integer>3500</integer>
	<key>VCANEyeXYWindowVisible</key>
	<true/>
	<key>VCANEyeXYFadeDots</key>
	<true/>
	<key>VCANExtraRewardRightFactor</key>
	<integer>0</integer>
	<key>VCANExtraDifficultStimReps</key>
	<integer>0</integer>
	<key>VCANFixGraceMS</key>
	<integer>0</integer>
	<key>VCANFixWindowWidthDeg</key>
	<real>1</real>
	<key>VCANFixate</key>
	<true/>
	<key>VCANHistogramSetIndex</key>
	<integer>0</integer>
	<key>VCANIntertrialMS</key>
	<integer>1500</integer>
	<key>VCANInterstimJitterTauMS</key>
	<integer>50</integer>
	<key>VCANInterstimMS</key>
	<integer>250</integer>
	<key>VCANKdlPhiDeg</key>
	<real>180</real>
	<key>VCANKdlThetaDeg</key>
	<real>90</real>
	<key>VCANMaxTargetMS</key>
	<integer>5000</integer>
	<key>VCANMeanDistractorMS</key>
	<integer>2500</integer>
	<key>VCANMeanTargetMS</key>
	<integer>2500</integer>
	<key>VCANMinContrastChange</key>
	<integer>0</integer>
	<key>VCANNumCorrectStaircaseUp</key>
	<integer>0</integer>
	<key>VCANNumInstructTrials</key>
	<integer>2</integer>
	<key>VCANNumExtraInstructTrials</key>
	<integer>0</integer>
	<key>VCANNumMistakesForExtraInstructions</key>
	<integer>0</integer>
	<key>VCANNumRepsAfterIncorrect</key>
	<integer>0</integer>
	<key>VCANDirectionDeg</key>
	<real>0</real>
	<key>VCANPrecueMS</key>
	<integer>250</integer>
	<key>VCANPreStimMS</key>
	<integer>250</integer>
	<key>VCANQuestJitterPC</key>
	<integer>15</integer>
	<key>VCANQuestGuessContrastPC</key>
	<integer>50</integer>
	<key>VCANQuestCriterion</key>
	<real>0.82</real>
	<key>VCANAngleRF0Deg</key>
	<integer>0</integer>
	<key>VCANAngleRF1Deg</key>
	<integer>45</integer>
	<key>VCANAngleRFOutDeg</key>
	<integer>315</integer>
	<key>VCANReactMS</key>
	<integer>750</integer>
	<key>VCANRelDistContrast</key>
	<integer>1</integer>
	<key>VCANRelDistContrastChange</key>
	<integer>1</integer>
	<key>VCANRespTimeMS</key>
	<integer>500</integer>
	<key>VCANRespWindowWidthDeg</key>
	<real>2</real>
	<key>VCANRewardMS</key>
	<integer>100</integer>
	<key>VCANRadiusDeg</key>
	<real>1</real>
	<key>VCANSaccadeTimeMS</key>
	<integer>200</integer>
	<key>VCANSigmaDeg</key>
	<real>0.25</real>
	<key>VCANSpatialFreqCPD</key>
	<real>4</real>
	<key>VCANSpatialModulationType</key>
	<integer>1</integer>
	<key>VCANSpatialPhaseDeg</key>
	<real>90</real>
	<key>VCANSpikeWindowVisible</key>
	<true/>
	<key>VCANSpikeWindowZoom</key>
	<integer>100</integer>
	<key>VCANStaircaseContrastPC0</key>
	<integer>30</integer>
	<key>VCANStaircaseContrastPC1</key>
	<integer>30</integer>
	<key>VCANStaircaseContrastPC2</key>
	<integer>30</integer>
	<key>VCANStaircaseContrastPC3</key>
	<integer>30</integer>
	<key>VCANStaircaseContrastPC4</key>
	<integer>30</integer>
	<key>VCANStaircaseContrastPC5</key>
	<integer>30</integer>
	<key>VCANStartContrastPC</key>
	<integer>30</integer>
	<key>VCANStepDownPC</key>
	<integer>5</integer>
	<key>VCANStimDurationMS</key>
	<integer>250</integer>
	<key>VCANStimJitterPC</key>
	<integer>0</integer>
	<key>VCANStimLeadMS</key>
	<integer>500</integer>
	<key>VCANStimRepsPerBlock</key>
	<integer>16</integer>
	<key>VCANSummaryWindowBroke</key>
	<integer>0</integer>
	<key>VCANSummaryWindowComputer</key>
	<integer>0</integer>
	<key>VCANSummaryWindowCorrect</key>
	<integer>0</integer>
	<key>VCANSummaryWindowDate</key>
	<integer>0</integer>
	<key>VCANSummaryWindowDistracted</key>
	<string></string>
	<key>VCANSummaryWindowEarly</key>
	<string></string>
	<key>VCANSummaryWindowFailed</key>
	<integer>0</integer>
	<key>VCANSummaryWindowIgnored</key>
	<integer>0</integer>
	<key>VCANSummaryWindowTotal</key>
	<integer>0</integer>
	<key>VCANSummaryWindowVisible</key>
	<true/>
	<key>VCANSummaryWindowWrong</key>
	<integer>0</integer>
	<key>VCANSummaryWindowZoom</key>
	<integer>100</integer>
	<key>VCANTaskStatus</key>
	<integer>0</integer>
	<key>VCANTemporalModulationParam</key>
	<integer>1</integer>
	<key>VCANTemporalModulationType</key>
	<integer>2</integer>
	<key>VCANTemporalPhaseDeg</key>
	<real>0</real>
	<key>VCANTooFastMS</key>
	<integer>100</integer>
	<key>VCANTrialWindowVisible</key>
	<true/>
	<key>VCANTrialWindowZoom</key>
	<integer>100</integer>
	<key>VCANTrainingMode</key>
	<false/>
	<key>VCANVarRewardMaxMS</key>
	<integer>100</integer>
	<key>VCANVarRewardMinMS</key>
	<integer>100</integer>
	<key>VCANVarRewardTCMS</key>
	<integer>100</integer>
</dict>
</plist>
