<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCAcquireMS</key>
	<integer>2000</integer>
	<key>SCBehaviorWindowVisible</key>
	<true/>
	<key>SCBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>SCBlockLimit</key>
	<integer>100</integer>
	<key>SCBreakPunishMS</key>
	<integer>0</integer>
	<key>SCCatchTrialPC</key>
	<real>5</real>
	<key>SCCatchTrialMaxPC</key>
	<real>5</real>
	<key>SCChangeArray</key>
	<array>
		<dict>
			<key>change</key>
			<integer>2</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>4</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>6</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>8</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>10</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>12</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>14</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>16</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>18</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>20</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>22</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>change</key>
			<integer>24</integer>
			<key>validReps</key>
			<integer>1</integer>
			<key>invalidReps</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>SCChangeRemain</key>
	<true/>
	<key>SCChangeScale</key>
	<integer>0</integer>
	<key>SCContrastFactor</key>
	<real>0.5</real>
	<key>SCContrast</key>
	<integer>100</integer>
	<key>SCContrasts</key>
	<integer>8</integer>
	<key>SCCueMS</key>
	<integer>250</integer>
	<key>SCOrientationChanges</key>
	<integer>8</integer>
	<key>SCDistContrastPC</key>
	<integer>100</integer>
	<key>SCDoSounds</key>
	<true/>
	<key>SCEyeFilter</key>
	<integer>1</integer>
	<key>SCEyeXYDoGrid</key>
	<true/>
	<key>SCEyeXYDoTicks</key>
	<integer>1</integer>
	<key>SCEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>SCEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>SCEyeXYDrawCal</key>
	<true/>
	<key>SCEyeXYGridDeg</key>
	<real>5</real>
	<key>SCEyeXYHScroll</key>
	<integer>3500</integer>
	<key>SCEyeXYMag</key>
	<real>30</real>
	<key>SCEyeXYOneInN</key>
	<integer>1</integer>
	<key>SCEyeXYTickDeg</key>
	<real>1</real>
	<key>SCEyeXYVScroll</key>
	<integer>3500</integer>
	<key>SCEyeXYWindowVisible</key>
	<true/>
	<key>SCEyeXYFadeDots</key>
	<true/>
	<key>SCFixGraceMS</key>
	<integer>0</integer>
	<key>SCFixWindowWidthDeg</key>
	<real>1</real>
	<key>SCFixate</key>
	<true/>
	<key>SCFixateMS</key>
	<integer>0</integer>
	<key>SCFixJitterPC</key>
	<integer>0</integer>
	<key>SCGabor1AlphaFactor</key>
	<integer>0</integer>
	<key>SCInstructionTrials</key>
	<integer>1</integer>
	<key>SCIntertrialMS</key>
	<integer>1500</integer>
	<key>SCInterstimJitterPC</key>
	<integer>50</integer>
	<key>SCInterstimMS</key>
	<integer>250</integer>
	<key>SCInvalidRewardFactor</key>
	<real>1</real>
	<key>SCKdlPhiDeg</key>
	<real>180</real>
	<key>SCKdlThetaDeg</key>
	<real>90</real>
	<key>SCMaxContrast</key>
	<integer>100</integer>
	<key>SCMinTargetMS</key>
	<integer>200</integer>
	<key>SCMaxTargetMS</key>
	<integer>5000</integer>
	<key>SCMeanTargetMS</key>
	<integer>2500</integer>
	<key>SCNumInstructTrials</key>
	<integer>2</integer>
	<key>SCNumExtraInstructTrials</key>
	<integer>0</integer>
	<key>SCNumMistakesForExtraInstructions</key>
	<integer>0</integer>
	<key>SCPrecueMS</key>
	<integer>250</integer>
	<key>SCReactMS</key>
	<integer>750</integer>
	<key>SCRelDistractorProb</key>
	<real>1</real>
	<key>SCRespTimeMS</key>
	<integer>500</integer>
	<key>SCRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>SCRespWindowWidthDeg</key>
	<real>2</real>
	<key>SCRewardMS</key>
	<integer>100</integer>
	<key>SCMinRewardMS</key>
	<integer>100</integer>
	<key>SCRewardSchedule</key>
	<integer>0</integer>
	<key>SCRadiusDeg</key>
	<real>1</real>
	<key>SCSaccadeTimeMS</key>
	<integer>200</integer>
	<key>SCSeparationDeg</key>
	<real>2.5</real>
	<key>SCSigmaDeg</key>
	<real>0.25</real>
	<key>SCSpatialFreqCPD</key>
	<real>4</real>
	<key>SCSpatialModulationType</key>
	<integer>1</integer>
	<key>SCSpatialPhaseDeg</key>
	<real>90</real>
	<key>SCSpikeWindowVisible</key>
	<true/>
	<key>SCSpikeWindowZoom</key>
	<integer>100</integer>
	<key>SCStimDurationMS</key>
	<integer>250</integer>
	<key>SCStimDistribution</key>
	<integer>0</integer>
	<key>SCStimJitterPC</key>
	<integer>0</integer>
	<key>SCSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowVisible</key>
	<true/>
	<key>SCSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>SCSummaryWindowZoom</key>
	<integer>100</integer>
	<key>SCContrastPC</key>
	<real>100</real>
	<key>SCMaxDirChangeDeg</key>
	<real>90</real>
	<key>SCMinDirChangeDeg</key>
	<real>5</real>
	<key>SCTaskStatus</key>
	<integer>0</integer>
	<key>SCTemporalFreqHz</key>
	<real>0</real>
	<key>SCTemporalModulationParam</key>
	<integer>1</integer>
	<key>SCTemporalModulationType</key>
	<integer>2</integer>
	<key>SCTemporalPhaseDeg</key>
	<real>0</real>
	<key>SCTooFastMS</key>
	<integer>100</integer>
	<key>SCTrialWindowVisible</key>
	<true/>
	<key>SCTrialWindowZoom</key>
	<integer>100</integer>
	<key>SCStimRepsPerBlock</key>
	<integer>16</integer>
	<key>SCTries</key>
	<integer>1</integer>
	<key>SCValidFATimePunishMS</key>
	<integer>0</integer>
	<key>SCInvalidFATimePunishMS</key>
	<integer>0</integer>
</dict>
</plist>
